<h1>Welcome to Wiki#Hackz!!</h1>
<% if current_user and (current_user.admin? or current_user.premium?) %>
      
    <% Wiki.all.each do |wiki| %>

    <%= link_to wiki.title, wiki_path(wiki) %><br>

    <% end %>
    
<% else %>
    
    <% Wiki.public_viewable.each do |wiki| %>

    <%= link_to wiki.title, wiki_path(wiki) %><br>
    
    <% end %>
<% end %>


